# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/

# dotenv
.env

# Editor directories and files
.vscode/
.idea/
.DS_Store

# Byte-compiled / optimized / DLL files
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# System files
Thumbs.db
desktop.ini
